Header {position:fixed;top:60px;left:60px;z-index:999;color:#fff;}
nav {position:fixed;bottom:430px;right:60px;z-index:999;width:40px;}
nav li {position:relative;}

nav li a {display:block;text-indent:-9999px;}
nav li a:after {content:"";display:block;width:50%;height:1px;background:#333;opacity:80%;position:absolute;top:6px;right:0;transition:0.2s;}
nav li.on a:after {width:100%;background:#ddd;opacity:80%;}

.section.on {transition:0.5s;}


.m01 {background:url(../img/12-1.jpg)}
.m01 .txt {position:absolute;top:50%;left:50%;width:1200px;transform:translate(-50%,-50%);text-align:center;color:#f2f2f2;}
.m01 .txt h2 {font-size:120px;font-weight:900;margin-bottom:30px;}
.m01 .txt li {font-size:30px;font-weight:600;opacity:80%;color:#999;}

.m01.on .txt li:hover {color:#fff;transition:none;}
.m01.on .txt i:hover {color:#fff;transition:none;}

.m02 {background:url(../img/7-1.jpg)}
.m02 .txt {position:absolute;top:70%;left:50%;width:1200px;transform:translate(-50%,-50%);color:#fff}
.m02 .txt h3 {font-size:50px;font-weight:900;margin-bottom:30px;}
.m02 .txt p {font-size:25px;font-weight:400;opacity:80%;line-height:1.4;}

.m03 {background:url(../img/17-1.jpg)}
.m03 .txt {position:absolute;top:20%;left:50%;width:1200px;text-align:center;transform:translate(-50%,-50%);color:#fff}
.m03 .txt h4 {font-size:50px;font-weight:900;margin-bottom:20px;}
.m03 .txt p {font-size:25px;font-weight:500;opacity:80%;line-height:1.2;}

.m03 .pt_slider {top:10%;left:19%;width:1200px;z-index:999;}
.m03 .pt_slider figure {padding:100px 10px;}
.m03 .pt_slider figure img {width:100%;border-radius:50%;box-shadow:0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);}

.m03 i {position:absolute;top:55%;left:50%;transform:translate(-50%,-50%);font-size:120px;cursor:pointer;}
.m03 i.xi-angle-left-thin {color:#ddd;opacity:50%;margin-left:-750px;}
.m03 i.xi-angle-right-thin {color:#ddd;opacity:50%;margin-left:750px;}



.m03 .slick-dots {text-align:center;}
.m03 .slick-dots button {display:none;}
.m03 .slick-dots li {display:inline-block;width:12px;height:12px;background:#333;opacity:60%;border-radius:50%;margin:30px 4px;}
.m03 .slick-dots li.slick-active {background:#ddd;}



.m04 {background:url(../img/9-1.jpg)}
.m04 .txt {position:absolute;top:55%;left:65%;transform:translate(-50%,-50%);color:#fff;}
.m04 .txt h5 {font-size:40px;font-weight:900;margin-bottom:20px;line-height:1.2;}
.m04 .txt p {font-size:30px;font-weight:500;opacity:80%;line-height:1.2;}
.m04 .txt p2 {text-align:center;margin:0 auto;font-size:20px;font-weight:200;opacity:80%;line-height:1.2;}



.m05 {background:url(../img/6-1.jpg)}


.m05 .container video {position:relative;width:900px;left:27%;}

.m05 .txt {padding:30px 0 0 0px;text-align:center;}

.m05 h2 {font-size:50px;font-weight:900;margin-bottom:30px;color:#fff;}
.m05 p {font-size:30px;font-weight:900;margin-bottom:20px;line-height:1.25;color:#f2f2f2;}
.m05 i {padding:10px;background:#777;border-radius:50%;color:#fff;opacity:80%;font-size:20px;margin-right:10px;}